.head{
    font-size: 36px;
    margin: 10px auto;
  
    padding:10px;
    color:black;
}
.subfont{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
   margin-top: 0px auto;
   margin-left: 10px;
   font-style: italic;
   color: grey;
}